# Dependencies
node_modules/

# Build output
dist/

# Coverage
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# Test
*.lcov

# Misc
*.tgz
.npmrc
